@page
@model projetEDT.Pages.Seances.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Séance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seance.Jour" class="control-label"></label>
                <input asp-for="Seance.Jour" class="form-control" />
                <span asp-validation-for="Seance.Jour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seance.HeureDebut" class="control-label"></label>
                <input asp-for="Seance.HeureDebut" class="form-control" />
                <span asp-validation-for="Seance.HeureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seance.Duree" class="control-label"></label>
                <input asp-for="Seance.Duree" class="form-control" />
                <span asp-validation-for="Seance.Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seance.SalleID" class="control-label"></label>
                <select asp-for="Seance.SalleID" class="form-control" asp-items="ViewBag.SalleID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.UEID"  class="control-label"></label>
                <select asp-for="Seance.UEID" id="selectUE" class="form-control" asp-items="ViewBag.UEID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.GroupeID" class="control-label"></label>
                <select asp-for="Seance.GroupeID" id="selectGrp" class="form-control" onchange="test()">
                    @foreach (Models.Groupe grp in Model.listGroupes)
                    {
                        if (@grp.toString.Equals("Tous le Monde"))
                        {
                            <option value="@grp.ID" id="optionUE">@grp.toString</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.TypeID" class="control-label"></label>
                <select asp-for="Seance.TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour</a>
</div>

<script type="text/javascript">

    var select = document.getElementById("selectUE"); //je récupère le select UE
    var selectGrp = document.getElementById("selectGrp"); //je récupère le sselect Groupe

    var texte;
    texte = document.getElementById("selectUE").options[document.getElementById('selectUE').selectedIndex].text; //Je récupère le nom de l'UE
    @foreach (Models.Groupe grp in Model.listGroupes) //Pour mettre des options au chargement de la page
    {
        <text> //Pour mettre du JS dans du C#
                if ("@grp.toString".includes(texte)) { //je récupère les groupes pour l'UE choisie
                    var opt = document.createElement('option');
                    opt.innerHTML = "@grp.toString";
                    opt.value = "@grp.ID";
                    selectGrp.appendChild(opt);
                }
        </text>
    }

    select.addEventListener('change', function () { //Quand je chanhe d'UE
        var texte;
        texte = document.getElementById("selectUE").options[document.getElementById('selectUE').selectedIndex].text; //Je récupère le nom de l'UE
        document.getElementById("selectGrp").options.length = 0; //Je vide le select Groupe

        @foreach (Models.Groupe grp in Model.listGroupes) //Je parcours les groupes
        {
            <text> //Pour mettre du JS dans du C#
                if ("Tout le Monde".localeCompare("@grp.toString") == 0) { //Pour mettre le groupe 'Tout le Monde'
                var opt = document.createElement('option'); //je crée une option
                opt.innerHTML = "@grp.toString"; //je lui donne un texte
                opt.value = "@grp.ID"; //je lui donne une valeur
                selectGrp.appendChild(opt); //je l'ajoute au select
            }
            if ("@grp.toString".includes(texte)) { //je récupère les groupes pour l'UE choisie
                var opt = document.createElement('option');
                opt.innerHTML = "@grp.toString";
                opt.value = "@grp.ID";
                selectGrp.appendChild(opt);
            }
            </text>
        }

    }, false);

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
