@page
@model projetEDT.Pages.Seances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Créer une Séance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].LaSalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].LUE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].LeGroupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Seance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaSalle.toString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LUE.Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeGroupe.toString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Intitule)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editer</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
